/*Header*/
@import '../base/listas';

header {
    background-image: url(../imagenes/header.jpg);
    background-size: cover;
    background-position: center center;
    padding-bottom: 15px;
    border-bottom: solid rgba(133, 128, 136, 0.26) 8px;
    
    div {
        display: flex;
        justify-content: center;
    }

    nav {
        ul {
            display: flex;
            font-family: 'Open Sans', sans-serif;
            text-align: center; 

            li {
                text-decoration: none;
                list-style: none;
                margin-left: 40px;

                a {
                    text-decoration: none;
                    list-style: none;
                }
            }
        }
    }
}
/*Fin header*/  

/*Footer*/
footer {
    background-color: nth($list: $colores, $n:8);
    padding-bottom: 100px;

    div {
          a, p {
                color: nth($list: $colores, $n: 4);
                text-decoration: none;
                &:hover {
                    color: white;
                }
        }
    }
}
/*Fin footer*/